<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="APP_DEBUG" value="false" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
    </php>

    <coverage
            processUncoveredFiles="true"
            cacheDirectory="var/cache/test"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <exclude>
            <!-- Ship -->
            <directory>src/Ship/Listener</directory>
            <directory>src/Ship/Test</directory>
            <directory>src/Ship/Parent</directory>
            <directory>src/Ship/PhpUnitExtension</directory>
            <!-- Ship -->

            <!-- User -->
            <directory>src/Container/User/Test</directory>
            <directory>src/Container/User/Data/Fixture</directory>
            <directory>src/Container/User/Data/Migration</directory>
            <!-- User -->

            <!-- Profile -->
            <directory>src/Container/Profile/Test</directory>
            <directory>src/Container/Profile/Data/Fixture</directory>
            <directory>src/Container/Profile/Data/Migration</directory>
            <directory>src/Container/Profile/Validator</directory>
            <!-- Profile -->

            <!-- Locale -->
            <directory>src/Container/Locale/Test</directory>
            <!-- Locale -->

            <!-- AuthSection -->
            <!-- Auth -->
            <directory>src/Container/AuthSection/Auth/Validator</directory>
            <directory>src/Container/AuthSection/Auth/Listener</directory>
            <directory>src/Container/AuthSection/Auth/Test</directory>
            <!-- Auth -->
            <!-- ResetPassword -->
            <directory>src/Container/AuthSection/ResetPassword/Validator</directory>
            <directory>src/Container/AuthSection/ResetPassword/Data/Migration</directory>
            <directory>src/Container/AuthSection/ResetPassword/Test</directory>
            <!-- ResetPassword -->
            <!-- AuthSection -->
        </exclude>

        <report>
            <html outputDirectory="tests/reports/html-coverage" highLowerBound="70" />
        </report>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <testsuites>
        <!-- Ship -->
        <testsuite name="ship-unit">
            <directory>src/Ship/Test/Unit</directory>
        </testsuite>
        <testsuite name="ship-integration">
            <directory>src/Ship/Test/Integration</directory>
        </testsuite>
        <!-- Ship -->

        <!-- User -->
        <testsuite name="user-unit">
            <directory>src/Container/User/Test/Unit</directory>
        </testsuite>
        <testsuite name="user-integration">
            <directory>src/Container/User/Test/Integration</directory>
        </testsuite>
        <!-- User -->

        <!-- Profile -->
        <testsuite name="profile-unit">
            <directory>src/Container/Profile/Test/Unit</directory>
        </testsuite>
        <testsuite name="profile-integration">
            <directory>src/Container/Profile/Test/Integration</directory>
        </testsuite>
        <testsuite name="profile-controller">
            <directory>src/Container/Profile/Test/Controller</directory>
        </testsuite>
        <!-- Profile -->

        <!-- Locale -->
        <testsuite name="locale-unit">
            <directory>src/Container/Locale/Test/Unit</directory>
        </testsuite>
        <testsuite name="locale-integration">
            <directory>src/Container/Locale/Test/Integration</directory>
        </testsuite>
        <testsuite name="locale-controller">
            <directory>src/Container/Locale/Test/Controller</directory>
        </testsuite>
        <!-- Locale -->

        <!-- AuthSection -->
        <!-- Auth -->
        <testsuite name="auth-integration">
            <directory>src/Container/AuthSection/Auth/Test/Integration</directory>
        </testsuite>
        <testsuite name="auth-unit">
            <directory>src/Container/AuthSection/Auth/Test/Unit</directory>
        </testsuite>
        <testsuite name="auth-controller">
            <directory>src/Container/AuthSection/Auth/Test/Controller</directory>
        </testsuite>
        <!-- Auth -->
        <!-- ResetPassword -->
        <testsuite name="reset-password-integration">
            <directory>src/Container/AuthSection/ResetPassword/Test/Integration</directory>
        </testsuite>
        <testsuite name="reset-password-controller">
            <directory>src/Container/AuthSection/ResetPassword/Test/Controller</directory>
        </testsuite>
        <!-- ResetPassword -->
        <!-- AuthSection -->

        <!-- AdminSection -->
        <!-- Category -->
        <testsuite name="admin-category-controller">
            <directory>src/Container/AdminSection/Category/Test</directory>
        </testsuite>
        <testsuite name="admin-category-integration">
            <directory>src/Container/AdminSection/Category/Test</directory>
        </testsuite>
        <!-- Category -->
        <!-- AdminSection -->

    </testsuites>

    <!-- Run `composer require symfony/panther` before enabling this extension -->

    <extensions>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
        <extension class="App\Ship\PhpUnitExtension\ClearTmpFilesExtension"/>
<!--        <extension class="Symfony\Component\Panther\ServerExtension" />-->
    </extensions>

</phpunit>
