{% extends '@auth/_base.html.twig' %}

{% trans_default_domain 'reset_password' %}

{% block form_title %}{{ 'form_title.check_email'|trans }}{% endblock %}

{% block content %}
    <div class="auth-form">

        <p class="check-email-info">{{ 'check_email_info.main'|trans({'%date%': '<b>' ~ reset_token.expiresAt|format_datetime ~ '</b>'})|raw }}</p>

        <p class="check-email-info">{{ 'check_email_info.resend'|trans({'%link%': url('reset_password.request')})|raw }}</p>

    </div>
{% endblock %}